@use "global" as *;

.layout-contact {
  position: relative;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/surfer.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(109);
  height: rem(50);
  top: rem(-25);
  right: calc(50% - min(50vw, rem(175)));
  z-index: 1;
  @include mq("md") {
    width: rem(160);
    height: rem(160);
    top: rem(-126);
    right: calc(50% - min(47vw, rem(624)));

  }
}


